/*************************************************/
/*css Created by Jayman Patel 2017               */
/*CTEC3905 Front End Web Development Assignment  */
/*************************************************/


html {
	/*Sets browser margins to 0 for more control*/
	margin: 0;
	padding: 0;

}

/*Structure - All css which describes where the content is positioned on the page*/
 
 body {
	font-family: arial, sans-serif;
	margin: 0;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


h1 {
	text-align: center;
	font-family: Cinzel Decorative;
	text-shadow: 2px 2px;
}
.sidenav {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
}

/*Skin - css which describes what the element looks like*/


.seasontimeline {
	text-align: center;
	font-family: Cinzel Decorative;
	font-size: 30px;
}

.sidenav {
   padding: 5px;
   border: 1px solid #8888bb;
   background: #ccccff;
   margin-right: 80%

}

footer {
  text-align: center;
  padding: 0.5em 1em 0.75em;
}

footer p {
  padding: 0;
  margin: 0;
}

/*Content - css which describes the content of elements*/

.sidenav ul {
  background: #ddd;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidenav a {
  color: #333;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
}

.sidenav a:hover {
  background: #d4d4d4;
}

@media (min-width: 400px) {}
@media (min-width: 600px) {}
@media (min-width: 600px) {}

