/*************************************************/
/*css Created by Jayman Patel 2017               */
/*CTEC3905 Front End Web Development Assignment  */
/*************************************************/


html {
	margin: 0;
	padding: 0;
	height: 100%;
	/*Sets browser margins to 0 for more control*/	
}
body {
	height: 100%;
	font-family: arial, sans-serif;
	margin: 0;
}

header {
	height: 100%;
	background-image: url(images/fullscreen=background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	
}

.sidenav> * {
    background-color: #4CAF50; /* Green */
	border: 
    border-color: #8d5b04;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
	border-top: 1px solid #000000;    /* in place of the word "black", you can use #000000 or rgb(0,0,0) */
    border-bottom: 1px solid #000000;
    cursor: pointer;
}

h1 {
	text-align: center;
	font-family: Cinzel Decorative;
	text-shadow: 2px 2px;
}

.seasontimeline {
	text-align: center;
	font-family: Cinzel Decorative;
	font-size: 30px;
}

.sidenav {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	height: 50px;
}


dt {
  margin-top: 0.5em;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 0.5em 1em 0.75em;
}

footer p {
  padding: 0;
  margin: 0;
}

#

@media (min-width: 400px) {}
@media (min-width: 600px) {}
@media (min-width: 600px) {}

