/*************************************************/
/*css Created by Jayman Patel 2017               */
/*CTEC3905 Front End Web Development Assignment  */
/*************************************************/


html {
	/*Sets browser margins to 0 for more control*/
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box
}


/*Structure - All css which describes where the content is positioned on the page*/
 
 body {
	font-family: arial, sans-serif;
	margin: 0;
}


section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

h1 {
	text-align: center;
	font-family: Cinzel Decorative;
	text-shadow: 2px 2px;
}

main {
        min-height: 800px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
    }

/*Skin - css which describes what the element looks like*/


.seasontimeline {
	text-align: center;
	font-family: Cinzel Decorative;
	font-size: 10px;
}


footer {
  text-align: center;
  padding: 0.5em 1em 0.75em;
}

footer p {
  padding: 0;
  margin: 0;
}

/*Content - css which describes the content of elements*/



@media (min-width: 400px) {}
@media (min-width: 600px) {}
@media (min-width: 900px) {}

